<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators hidden-sm-down">
    <% Product.ids.each_with_index do |id, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <%= 'class="active"' if index == 0 %>></li>
  <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% Product.all.each_with_index do |product, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag product.photos.first.file(:medium) %>
        <div class="carousel-caption bg-inverse hidden-sm-down">
          <h3><%= product.title %></h3>
          <p><%= product.description.first(20) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
