<div class="product-show col-sm-12">
  <h1><%= @product.title %></h1>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <%= image_tag @product.photos.first.file, class: 'img-responsive' %>
    </div>
    <div class="col-md-5 col-xs-12">
      <%= render partial: 'products/summary', locals: { product: @product } %>
    </div>
  </div>
  <h2 id="description">Description:</h2>
  <p><%= @product.description %></p>
  <h2>Features: </h2>
  <% @product.features.each do |feature| %>
    <h5><%= image_tag feature.photos.first.file(:micro) %> <%= feature.name %></h5>
    <%= render partial: 'layouts/rating', locals: { score: feature.rating_by_product(@product.id).to_i } %>
    <br/>
    <p>
    <%= feature.description_by_product(@product.id) %></p>

  <% end %>
</div>
